// nextflow.config

params {
    reads = "test_datasets/*.fastq"
    outdir = "results"
    bowtie_index_dir = "reference_data/bowtie_indexes"
    rfam_mirbase_prefix = "mouse_rfam_mirbase"
    genome_prefix = "mm39"
    pirbase = "reference_data/piR_mouse.fa.gz"
    adapter = "TGGAATTCTCGGGTGCCAAGG"
    scripts = "$projectDir"
    threads = 4
}

executor {
    name = 'local'
    memory = '6 GB'
}

process {
    cpus = params.threads
    memory = '6 GB'
}

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
    docker {
        docker.enabled = true
        docker.userEmulation = true
        conda.enabled = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
    }
}

// Default to conda if no profile is specified
conda.enabled = true
